/*$mango: #f6b75c;
$blossom: #feb7c5;
$ocean: #47ac7c;
$salmon: #ff9276;
white: #FEFFFE;
black: #293132;


*/


html {
  background: #FEFFFE;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.container {
  margin: auto;
  border: 5px solid #293132;
  border-radius: 1px;
  padding: 50px;
  box-shadow:
  0 0 0 4px rgba(0,0,0,0.1),
  inset 0 0 0 3px black,
  inset 0 0 10px #FEFFFE,
  0 0 10px rgba(0,0,0,0.2);
}

.clock {
  width: 40rem;
  height: 40rem;
  border: 10px solid #293132;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow:
  0 0 0 4px rgba(0,0,0,0.1),
  inset 0 0 0 3px black,
  inset 0 0 10px #FEFFFE,
  0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: #293132;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
  transform-origin: 100%;
  transform: rotate(90deg);
}

.centre{
  background: #293132;
  border: 1px solid #FEFFFE;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  left: 47.5%;
  top: 48%;
  z-index: 99;
}


#one{
  background: #F29559;
}

#two{
  background: #3F84E5;
}

#thr{
  background: #B20D30;
}

.one{
  background: #F29559;
}

.two{
  background: #3F84E5;
}

.thr{
  background: #B20D30;
}

